<form name="change-password">
    <label for="oldPass">Old Password</label>
    <input ng-model="changePasswordData.oldPassword" id="oldPass" type="password" class="form-control" placeholder="Enter your old passwor...">

    <label for="newPass">New Password</label>
    <input ng-model="changePasswordData.newPassword" id="newPass" type="password" class="form-control" placeholder="Enter your new password...">

    <label for="newPassConf">Confirm Password</label>
    <input ng-model="changePasswordData.newPasswordConfirm" id="newPassConf" type="password" class="form-control" placeholder="Confirm your new password...">

    <button class="btn btn-primary" ng-click="changePassword(changePasswordData)">Change password</button>
    <input class="btn btn-primary"  type="reset" value="Reset values">
</form>