/* app css stylesheet */

body {
  background: lightsalmon;
}

#wrapper {
  margin-top: 100px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*LOGIN AND REGISTER MENU*/
#welcome-title {
  text-align: center;
  margin-bottom: 50px;
}

#welcome-menu {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

#welcome-menu div {
  margin: 10px 0;
}

#welcome-menu button {
  margin-top: 20px;
}
/************************/

/*CHANGE PASSWORD TMPL*/
form#change-password {
  max-width: 500px;
  margin: 0 auto;
}

form#change-password input,
form#change-password button {
  margin-bottom: 20px;
}
/***********************/

/****CREATE PROJECT TMPL***/
#add-project h1 {
  text-align: center;
}

#add-project {
  max-width: 500px;
  margin: 0 auto;
}

#add-project input,
#add-project select,
#add-project button,
#add-project textarea {
  margin-bottom: 20px;
}
/*************************/

/****EDIT PROJECT TMPL***/
#edit-project h1 {
  text-align: center;
}

#edit-project {
  max-width: 500px;
  margin: 0 auto;
}

#edit-project input,
#edit-project select,
#edit-project button,
#edit-project textarea {
  margin-bottom: 20px;
}
/*************************/

/****ADD ISSUE TMPL***/
#add-issue h1 {
  text-align: center;
}

#add-issue {
  max-width: 500px;
  margin: 0 auto;
}

#add-issue input,
#add-issue select,
#add-issue button,
#add-issue textarea {
  margin-bottom: 20px;
}
/*************************/

/****EDIT ISSUE TMPL***/
#edit-issue h1 {
  text-align: center;
}

#edit-issue {
  max-width: 500px;
  margin: 0 auto;
}

#edit-issue input,
#edit-issue select,
#edit-issue button,
#edit-issue textarea {
  margin-bottom: 20px;
}
/*************************/